.nameAndDeleteButton {
  display: flex;
  align-items: center;
}

.nameAndDeleteButton button {
  flex: 15%;
  background-color: #d36362;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.nameAndDeleteButton button:hover {
  background-color: #a43c3c;
}

.nameAndDeleteButton h3 {
  flex: 90%;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
